ClientWebServiceZip/Service References/srWebZip/WebZip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webzip.testing/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webzip.testing/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webzip.testing/">
      <s:element name="GetDataSet">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetAsByteArray">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSetAsByteArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetAsByteArrayResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetAsByteArrayPlus">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSetAsByteArrayPlusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetAsByteArrayPlusResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetAsByteArraySoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSetAsByteArray" />
  </wsdl:message>
  <wsdl:message name="GetDataSetAsByteArraySoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetAsByteArrayResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetAsByteArrayPlusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSetAsByteArrayPlus" />
  </wsdl:message>
  <wsdl:message name="GetDataSetAsByteArrayPlusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetAsByteArrayPlusResponse" />
  </wsdl:message>
  <wsdl:portType name="WebZipSoap">
    <wsdl:operation name="GetDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns our full dataset</wsdl:documentation>
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetAsByteArray">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns our compressed dataset in the form of a byte array</wsdl:documentation>
      <wsdl:input message="tns:GetDataSetAsByteArraySoapIn" />
      <wsdl:output message="tns:GetDataSetAsByteArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetAsByteArrayPlus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns our compressed dataset in the form of a byte array</wsdl:documentation>
      <wsdl:input message="tns:GetDataSetAsByteArrayPlusSoapIn" />
      <wsdl:output message="tns:GetDataSetAsByteArrayPlusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebZipSoap" type="tns:WebZipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://webzip.testing/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetAsByteArray">
      <soap:operation soapAction="http://webzip.testing/GetDataSetAsByteArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetAsByteArrayPlus">
      <soap:operation soapAction="http://webzip.testing/GetDataSetAsByteArrayPlus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebZipSoap12" type="tns:WebZipSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://webzip.testing/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetAsByteArray">
      <soap12:operation soapAction="http://webzip.testing/GetDataSetAsByteArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetAsByteArrayPlus">
      <soap12:operation soapAction="http://webzip.testing/GetDataSetAsByteArrayPlus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebZip">
    <wsdl:port name="WebZipSoap" binding="tns:WebZipSoap">
      <soap:address location="http://localhost:55555/WebZip.asmx" />
    </wsdl:port>
    <wsdl:port name="WebZipSoap12" binding="tns:WebZipSoap12">
      <soap12:address location="http://localhost:55555/WebZip.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>